/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 100px 370px 0;
  font-family: var(--font-inter-variable, sans-serif);
  font-variation-settings: "wght" var(--font-weight-main), "slnt" 0;
  background-color: var(--accent-background-color);
  color: var(--accent-color);
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--background-image);
}

.header {
  padding: 136px 120.5px 0;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-press-start-2p, fantasy);
  background-color: var(--accent-background-color);
  border: 2px solid var(--accent-color);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 65px;
}

.header__text {
  margin-top: 20px;
  line-height: 23px;
  font-size: 23px;
  text-transform: uppercase;
}

.theme-menu {
  margin-top: 25px;
  margin-bottom: 21px;
}

.theme-menu__list {
  margin-left: 19px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  font-size: 14px;
  line-height: 14px;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  transition: 0.3s ease;
  opacity: 1;
}

.theme-menu__button:disabled::before {
  color: var(--accent-color);
}

.theme-menu__button::before {
  content: "▶";
  position: absolute;
  width: 14px;
  height: 14px;
  left: -14px;
  color: transparent;
  animation: pulse 0.5s infinite ease-in-out;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: 0.5s;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__item {
  background-color: var(--accent-background-color);
  border: 2px solid var(--accent-color);
}

.card__item-watermark-and-image {
  position: relative;
  border-bottom: 2px solid var(--accent-color);
}

.card-item-watermark {
  position: absolute;
  z-index: 2;
  font-family: var(--font-press-start-2p);
  mix-blend-mode: hard-light;
  font-size: 14px;
  line-height: 14px;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  text-shadow: 1px 1px 0 var(--color-shadow-html);
}

@supports (
  (text-stroke: 1px var(--color-shadow-html)) or
    (-webkit-text-stroke: 1px var(--color-shadow-html))
) {
  .card-item-watermark {
    -webkit-text-stroke: 1px var(--color-shadow-html);
    text-shadow: none;
  }
}

.card__bottom {
  padding: 25px;
}

.card__title {
  padding: 4px 10px;
  font-variation-settings: "wght" var(--font-weight-header);
  font-size: 18px;
  line-height: 21.78px;
  border-bottom: 2px solid var(--accent-color);
}

.card__item-image {
  display: block;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
}

.card__story {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 27px;
}

.card__memory {
  margin-bottom: 25px;
  font-size: 18px;
}

.card__button {
  display: flex;
  justify-content: end;
}

.card__icon-button {
  max-height: 38px;
}

.card__like-button,
.modal__window-button,
.dialog__button {
  position: relative;
  display: flex;
  width: 130px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  transition: 0.5s ease-in-out;
}

.button__text {
  position: relative;
  z-index: 2;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 12.6px;
  font-weight: 400;
  font-family: var(--font-press-start-2p, fantasy);
  color: var(--accent-color-button-text);
  mix-blend-mode: difference;
}

.like-icon {
  color: var(--accent-color-herat);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  scalex: 1;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.card__like-button:focus,
.footer__button:focus,
.dialog__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.card__like-button::before,
.footer__button::before,
.dialog__button::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  inset: 0;
  z-index: 1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.card__like-button:hover::before,
.footer__button:hover::before,
.dialog__button:hover::before {
  width: 100%;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible,
.footer_button:focus-visible {
  border: 2px solid var(--accent-color);
}

.counter {
  fill: var(--accent-color-heart);
}

.is-liked .counter {
  fill: var(--accent-color-heart-body);
  transition: fill 0.3s linear 0.6s;
}

.main-body {
  fill: var(--accent-color-contour);
  animation: main-body 0.3s 0.05s linear;
}

.core {
  fill: var(--accent-color-contour);
  animation: core 0.3s 0.05s linear;
}

.sparks {
  opacity: 0;
  fill: var(--accent-color-heart-body);
}

.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in reverse;
}

.card__icon-button:active .core {
  fill: var(--accent-color-heart-body);
  transition: fill 0.3s 0.5s linear;
}

.card__icon-button:active .main-body {
  fill: var(--accent-color-heart-body);
  transition: fill 0.3s 0.5s linear;
}

.like-icon.is-liked .core {
  fill: var(--accent-color-heart-body);
  transition: fill 0.3s 0.5s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--accent-color-heart-body);
  transition: fill 0.3s 0.5s linear;
}

.card__icon-button:hover .core {
  fill: var(--accent-color-heart);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color-heart);
  transition: fill 0.3s 0.05s linear;
}

.footer__button {
  position: relative;
  margin: 52px auto 105px;
  width: 335px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-background-color);
}

.footer__button .button__text {
  text-transform: inherit;
}

.floppy__image {
  margin-right: 8px;
  mix-blend-mode: difference;
  color: var(--accent-color-floopy);
  z-index: 2;
}

.dialog {
  font-family: var(--font-press-start-2p);
  font-size: 14px;
  max-width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  border: 2px solid var(--accent-color);
  background-color: var(--accent-background-color);
  padding: 28px;
}

.dialog__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-block-end: 30px;
}

.dialog-floppy {
  mix-blend-mode: difference;
  color: var(--accent-color-floopy);
}
.dialog__button {
  text-transform: uppercase;
  font-size: 14px;
  padding: 13px 0;
  inline-size: 100%;
  border: 2px solid var(--accent-color);
}

.dialog__text {
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 14px;
  max-inline-size: clamp(12.375rem, 11.5827rem + 3.3803vw, 14.625rem);
  color: var(--accent-color);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {
  .page {
    padding: 100px 2px;
  }

  .header {
    min-width: 371px;
    padding: 120px 14px 0;
  }

  .header__title {
    line-height: 49px;
  }

  .header__text {
    font-size: 14px;
    line-height: 14px;
  }
}

.image-2 {
  filter: saturate(30%);
}

.image-3 {
  filter: contrast(100%) saturate(500%) brightness(100%);
}

.image-4 {
  filter: saturate(200%) grayscale(50%) hue-rotate(25deg) sepia(30%)
    contrast(100%) brightness(100%);
}

.image-5 {
  filter: saturate(220%) invert(60%) contrast(200%) brightness(120%);
}

.image-6 {
  filter: saturate(30%) sepia(60%) invert(20%) grayscale(50%) contrast(200%);
}

.image-7 {
  filter: blur(4px);
}

.image-8 {
  filter: saturate(200%) invert(41%) contrast(200%) hue-rotate(100deg)
    brightness(80%);
}
